asa-conduct-policy.pdf
datafest-2019-codebook.xlsx
datafest-2019-data-policy.pdf
datafest-2019-evaluation-sheet.pdf
datafest-2019-presentation-guidelines.pdf
datafest-2019-q&a.pdf
datafest-2019-student-guidelines.pdf